// Base font family.
$base-font-family: sans-serif;

// Base font size. Will be used in :root as font-size.
$base-font-size: 16px;

// Base headline font family.
$base-headline-family: sans-serif;

// Base headline text rendering.
// @see https://developer.mozilla.org/en/docs/Web/CSS/text-rendering
$base-headline-rendering: optimizeLegibility;

// Base line-height, also represents the vertical-base unit.
$base-line-height: 1.375rem;
