// -----------------------------------------------------------------------------
// Typography.
// -----------------------------------------------------------------------------
$font-headline-family: Open Sans, Segoe UI, Tahoma, sans-serif;
$font-text-family: Open Sans, Segoe UI, Tahoma, sans-serif;
$font-text-line-height: 1.375rem;
$font-text-rendering: optimizeLegibility;
$font-text-size: 16px;

// -----------------------------------------------------------------------------
// Z-index listing.
// -----------------------------------------------------------------------------
$z-default: 1;
$z-debug: 500;
