// Base font family.
$base-font-family: sans-serif !default;

// Base font size. Will be used in :root as font-size.
$base-font-size: 16px !default;

// Base headline font family.
$base-headline-family: sans-serif !default;

// Base headline text rendering.
// @see https://developer.mozilla.org/en/docs/Web/CSS/text-rendering
$base-headline-rendering: optimizeLegibility !default;

// Base line-height, also represents the vertical-base unit.
$base-line-height: 1.375rem !default;

// Base quote font family.
$base-quote-family: Georgia, Times, Times New Roman, serif !default;
