$color-emerald: #28c76f;
$color-carnation: #ea5455;
$color-dodger-blue: #0396ff;
$color-candlelight: #f8d800;

$color-black: #000;
$color-white: #fff;

/*
---
name: Colors
tag:
  - meta
  - colors
category:
  - meta
  - meta/colors
template: colors
sourcePath: /meta/_colors.scss
colors:
  emerald: "#{$color-emerald}"
  carnation: "#{$color-carnation}"
  dodger-blue: "#{$color-dodger-blue}"
  candlelight: "#{$color-candlelight}"
  black: "#{$color-black}"
  white: "#{$color-white}"
---

The following colors are the defined project colors.

📢 Remember:

- Do *not* create new ones, try to use them and *adjust* them via color
manipulating functions.<sup>[1]</sup><sup>[2]</sup> This will be useful regarding theming.
- *Always* use colors [names](http://chir.ag/projects/name-that-color) wherever you can.<sup>[3]</sup>

[1]: https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
[2]: http://jackiebalzer.com/color
[3]: https://davidwalsh.name/sass-color-variables-dont-suck

*/

$gradient-emerald: linear-gradient(45deg, saturate(lighten($color-emerald, 25), 10), $color-emerald);
$gradient-carnation: linear-gradient(45deg, saturate(lighten($color-carnation, 25), 10), $color-carnation);
$gradient-dodger-blue: linear-gradient(45deg, saturate(lighten($color-dodger-blue, 25), 10), $color-dodger-blue);
$gradient-candlelight: linear-gradient(45deg, saturate(lighten($color-candlelight, 25), 10), $color-candlelight);

/*
---
name: Gradients
tag:
  - meta
  - gradients
category:
  - meta
  - meta/colors
template: colors
sourcePath: /meta/_colors.scss
colors:
  emerald: "#{$gradient-emerald}"
  carnation: "#{$gradient-carnation}"
  dodger-blue: "#{$gradient-dodger-blue}"
  candlelight: "#{$gradient-candlelight}"
---

*/
