$color-black: #000;
$color-japanese-laurel: #06a20d;
$color-cinnabar: #e43e33;
$color-matisse: #0b6ba1;
$color-white: #fff;
$color-saffron: #fac135;

/*
---
name: Colors
tag:
  - meta
category:
  - meta
  - meta/colors
template: colors
sourcePath: /meta/_colors.scss
colors:
    black: "#000"
    japanese-laurel: "#06a20d"
    cinnabar: "#e43e33"
    matisse: "#0b6ba1"
    white: "#fff"
    saffron: "#fac135"
---

The following colors are the defined project colors.

📢 Remember:

- Do *not* create new ones, try to use them and *adjust* them via color
manipulating functions.<sup>[1]</sup><sup>[2]</sup> This will be useful regarding theming.
- *Always* use colors [names](http://chir.ag/projects/name-that-color) wherever you can.<sup>[3]</sup>

[1]: https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
[2]: http://jackiebalzer.com/color
[3]: https://davidwalsh.name/sass-color-variables-dont-suck
*/
