/*
---
name: Shared
category: shared
hidePath: true
---

All styles which are used throughout the whole web application get in here.
*/
@import "shared/debug";
@import "shared/generic";
@import "shared/typography";
@import "shared/print";
@import "shared/images";
