// -----------------------------------------------------------------------------
// Typography.
// -----------------------------------------------------------------------------
$font-headline-family: Open Sans, Segoe UI, Tahoma, sans-serif;
$font-text-family: Open Sans, Segoe UI, Tahoma, sans-serif;
$font-text-line-height: 1.375;
$font-text-rendering: optimizeLegibility;
$font-text-size: 16px;

// -----------------------------------------------------------------------------
// Global grid.
// -----------------------------------------------------------------------------
$grid-vertical-base: 1rem;
// $grid-total-columns: 12;
// $grid-gutter-width: 1.5rem; // 24px
// $grid-max-width: 90rem; // 1440px

// -----------------------------------------------------------------------------
// Z-index listing.
// -----------------------------------------------------------------------------
$z-default: 1;
$z-debug: 500;
