// -----------------------------------------------------------------------------
// Define your color palette over here.
// -----------------------------------------------------------------------------
$color-black: #000;
$color-japanese-laurel: #06a20d;
$color-cinnabar: #e43e33;
$color-matisse: #0b6ba1;
$color-white: #fff;
$color-saffron: #fac135;

// -----------------------------------------------------------------------------
// Color associations.
// -----------------------------------------------------------------------------
$brand-primary: $color-black;
$brand-success: $color-japanese-laurel;
$brand-info: $color-matisse;
$brand-warning: $color-cinnabar;
$brand-text-primary: $brand-primary;

/*
    Colors

    The following colors are the defined project colors.

    *Notice:* Do not create new ones, try to use them and adjust them via [color
    manipulating functions](http://sass-lang.com/documentation/Sass/Script/Functions.html).

    **IMPORTANT:** Always use the semantic colors, not the actual color name!

    markup:
    <div class="styleguide-demo">
        <span class="color" style="background-color: $brand-primary", title="brand-primary"></span>
        <span class="color" style="background-color: $brand-success", title="brand-success"></span>
        <span class="color" style="background-color: $brand-info", title="brand-info"></span>
        <span class="color" style="background-color: $brand-warning", title="brand-warning"></span>
        <br>
        <br>
        <br>
        <!--
            Plain colors below, avoid using them directly!
        -->
        <span class="color" style="background-color: $color-black", title="black"></span>
        <span class="color" style="background-color: $color-japanese-laurel", title="japanese-laurel"></span>
        <span class="color" style="background-color: $color-cinnabar", title="cinnabar"></span>
        <span class="color" style="background-color: $color-white", title="white"></span>
        <span class="color" style="background-color: $color-saffron", title="saffron"></span>
        <span class="color" style="background-color: $color-matisse", title="matisse"></span>
    </div>

    Styleguide 1.3
*/

// -----------------------------------------------------------------------------
// Typography.
// -----------------------------------------------------------------------------
$font-headline-family: Open Sans;
$font-text-family: Open Sans;
$font-text-line-height: 1.75;
$font-text-rendering: optimizeLegibility;
$font-text-size: 14px;

// -----------------------------------------------------------------------------
// Resolution relative settings. Excerpt from Google web fundamentals:
//
// - Create breakpoints based on content, never on specific devices, products,
//   or brands.
// - Design for the smallest mobile device first, then progressively enhance
//   the experience as more screen real estate becomes available.
// - Keep lines of text to a maximum of around 70 or 80 characters.
//
// https://goo.gl/EDZOAH
// -----------------------------------------------------------------------------
$breakpoints: (
    small: 320px,
    medium: 768px,
    large: 1024px,
    huge: 1440px
);

// @see https://github.com/eduardoboucas/include-media/issues/14
$unit-intervals: ("px": 1, "em": 0.065, "rem": 0.0625);

// -----------------------------------------------------------------------------
// Global grid.
// -----------------------------------------------------------------------------
$grid-vertical-base: 1rem;
// $grid-total-columns: 12;
// $grid-gutter-width: 1.5rem; // 24px
// $grid-max-width: 90rem; // 1440px

// -----------------------------------------------------------------------------
// Z-index listing.
// -----------------------------------------------------------------------------
$z-default: 1;
$z-debug: 500;
