<% if (component.config.colors) { %>
    <section class="styleguide-colors">

        <% Object.keys(component.config.colors).forEach((name) => { %>
            <span class="color styleguide-color" style="background: <%= component.config.colors[name] %>">
                <span class="label"><%= name %> (<%= component.config.colors[name] %>)</span>
            </span>
        <% }) %>

    </section>
<% } %>
