<% if (colors) { %>
    <% Object.keys(colors).forEach((name) => { %>
        <span class="styleguide-color" style="background-color: <%= colors[name] %>" title="<%= name %>"></span>
    <% }) %>
<% } %>
