<% name = `../../${sourcePath.slice(0, sourcePath.lastIndexOf('.'))}` %>
<% defaults = {
    preview: `${name}.${config.insert.preview.language}`,
    source: `${name}.${config.insert.source.language}`
} %>

<% if (insert.preview || (Array.isArray(insert) && insert.indexOf('preview') > -1)) { %>
    <% preview = typeof insert.preview === 'string' ? insert.preview : defaults.preview %>
    <div class="<%= config.preview_class %>">
        <%- include(preview) %>
    </div>
<% } %>

<% if (insert.source || (Array.isArray(insert) && insert.indexOf('source') > -1)) { %>
    <% source = typeof insert.source === 'string' ? insert.source : defaults.source %>
    <pre><code class="language-<%= config.insert.source.id %>"><%- include(source) %></code></pre>
<% } %>
