/*
---
name: Plain button
tag:
  - components
  - buttons
category:
  - components
  - components/buttons
  - components/buttons/plain
sourcePath: /components/buttons/_button-plain.scss
---

The plain button is the most basic form of a button and actually doesn’t look
like a button at all. You’ll most likely use it for `button` elements that
are *not* supposed to look like a button.

```html
<button class="button-plain">I’m a button but I don’t look like one</button>
```
*/
.button-plain {
    background: transparent;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
}
