*,
*::before,
*::after {
    box-sizing: inherit;
    transition-duration: inherit;
    transition-property: none;
}

body {
    margin: 0;
}

sup a {
    color: #0af;
    text-decoration: none;
}

sup + sup a {
    margin-left: 2px;
}

sup a::before { content: "\5b"; }
sup a::after { content: "\5d"; }

pre {
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
    overflow: auto;
}

pre code {
    display: block;
    font-size: 0.9375rem;
    line-height: 1.3125rem;
    padding: 1rem;
}

p,
li {
    max-width: 70ch;
    hyphens: auto;
}

h3:not([class]):not(:first-child) {
    margin-top: 2em;
}

:not(pre) > code {
    background-color: rgba(0, 170, 255, 0.065);
    border-radius: 2px;
    border: 1px solid rgba(0, 170, 255, 0.125);
    color: #0af;
    font-size: 0.9375rem;
    padding: 1px 4px;
}

:root {
    box-sizing: border-box;
    transition-duration: 330ms;
}

.styleguide-sidebar {
    bottom: 3.375em;
    color: #000;
    left: 0;
    overflow: auto;
    padding: 2em;
    position: fixed;
    top: 0;
    width: 320px;
}

.styleguide-sidebar > .logo {
    background-image: url("../images/logos/sass.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    font-size: 0;
    height: 96px;
    margin: 0 auto 2rem;
    text-decoration: none;
    width: 96px;
}

.styleguide-sidebar > .tags,
.styleguide-sidebar > .categories {
    margin: 1.5em 0 2em;
}

.styleguide-content {
    margin: 0 0 3.375em 320px;
    padding: 2em;
    width: calc(100% - 320px);
}

.styleguide-footer {
    bottom: 0;
    color: #000;
    height: 3.375em;
    left: 0;
    padding: 1em 2em;
    position: fixed;
    width: 100%;
}

.styleguide-color {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin: 1em;
    max-width: 256px;
    width: 28%;
}

.styleguide-color::before {
    content: "";
    display: block;
    padding-top: 50%;
}

.styleguide-color > .label {
    background-color: #fefefe;
    display: block;
    font-size: smaller;
    margin: 1px;
    padding: 0.5em 1em;
}

.styleguide-nav-tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8125rem;
}

.styleguide-nav-tags > .link {
    border-radius: 3px;
    border: 1px solid #000;
    margin: 0 0.5em 0.5em 0;
    padding: 2px 8px;
    text-decoration: none;
}

.styleguide-tree {
    line-height: 1.5;
    text-transform: capitalize;
}

.styleguide-tree-branches {
    list-style-type: none;
    margin: 0 0 0.75em;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.styleguide-tree-branches > .branch {
    padding-left: 1.125em;
    position: relative;
}

.styleguide-tree-branch > .expand {
    background: transparent;
    border: 0;
    color: currentColor;
    cursor: pointer;
    font-size: inherit;
    left: 0;
    line-height: inherit;
    outline: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.125em;
}

.styleguide-tree-branch > .expand::after {
    content: "\25b8";
    display: block;
    position: relative;
    top: -1px;
}

.styleguide-tree-branch.-open > .expand::after {
    content: "\25be";
}

.styleguide-tree-branch:not(.-active) {
    color: #737373;
}

.styleguide-tree-branch:not(.-open) > .branches {
    display: none;
}

.styleguide-tree-branch:hover > .label,
.styleguide-tree-branch:hover > .expand {
    color: #000;
}

.styleguide-block + .styleguide-block {
    margin-top: 3em;
}

.styleguide-block-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
}

.styleguide-block-header > .title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 0.25em;
    padding-bottom: 0.5em;
    width: 100%;
}

.styleguide-comma-list > .link:not(:hover) {
    text-decoration: none;
}

.styleguide-shy {
    font-size: 0.75rem;
    opacity: 0.25;
}

.styleguide-sourcepath {
    margin-left: auto;
}

.styleguide-preview {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAF0lEQVR4AWP4DwVvoWCgBGAMmMQACQAAuK72AWHjK4wAAAAASUVORK5CYII=');
    background-size: 8px 8px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
    margin: 0;
    padding: 1rem;
}

:not(.styleguide-preview) > table {
    border-collapse: collapse;
}

:not(.styleguide-preview) > table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

:not(.styleguide-preview) > table thead tr {
    border-width: 2px;
}

:not(.styleguide-preview) > table thead th,
:not(.styleguide-preview) > table tbody td {
    padding: 0.5em 2em 0.5em 0.5em;
    text-align: left;
}
