*,
*::before,
*::after {
    box-sizing: inherit;
    transition-duration: inherit;
    transition-property: none;
}

body {
    margin: 0;
}

sup a {
    color: #0af;
    text-decoration: none;
}

sup + sup a {
    margin-left: 2px;
}

sup a::before { content: "\5b"; }
sup a::after { content: "\5d"; }

pre {
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
    overflow: auto;
}

pre code {
    display: block;
    font-size: 0.9375rem;
    line-height: 1.3125rem;
    padding: 1rem;
}

p,
li {
    max-width: 70ch;
}

:not(pre) > code {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.065);
    padding: 1px 3px;
    font-size: 0.9375rem;
}

:root {
    box-sizing: border-box;
    transition-duration: 330ms;
}

.styleguide-sidebar {
    bottom: 3.375em;
    color: #000;
    left: 0;
    overflow: auto;
    padding: 2em;
    position: fixed;
    top: 0;
    width: 320px;
}

.styleguide-sidebar > .logo {
    display: block;
    margin: 0 auto 2em;
    width: 96px;
}

.styleguide-sidebar > .tags,
.styleguide-sidebar > .categories {
    margin: 1.5em 0 2em;
}

.styleguide-content {
    margin: 0 0 3.375em 320px;
    padding: 2em;
    width: calc(100% - 320px);
}

.styleguide-footer {
    bottom: 0;
    color: #000;
    height: 3.375em;
    left: 0;
    padding: 1em 2em;
    position: fixed;
    width: 100%;
}

.styleguide-color {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin: 1em;
    width: 28%;
}

.styleguide-color::before {
    content: "";
    display: block;
    padding-top: 50%;
}

.styleguide-color::after {
    background-color: #fefefe;
    content: attr(title);
    display: block;
    margin: 1px;
    padding: 0.5em 1em;
}

.styleguide-nav-tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8125rem;
}

.styleguide-nav-tags > .link {
    border-radius: 3px;
    border: 1px solid #000;
    margin: 0 0.5em 0.5em 0;
    padding: 2px 8px;
    text-decoration: none;
}

.styleguide-nav-categories a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
}

.styleguide-nav-categories ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.styleguide-nav-categories ul ul {
    padding-bottom: 0.5em;
}

.styleguide-nav-categories li li {
    padding-left: 1em;
    position: relative;
}

.styleguide-nav-categories li li::after,
.styleguide-nav-categories li li::before {
    background-color: #000;
    content: "";
    position: absolute;
}

.styleguide-nav-categories li li::after {
    height: 1px;
    left: 2px;
    top: 0.625em;
    width: 0.5em;
}

.styleguide-nav-categories li li::before {
    height: 100%;
    left: 1px;
    top: 0;
    width: 1px;
}

.styleguide-nav-categories li li:last-child::before {
    height: calc(0.625em + 1px);
}

.styleguide-block + .styleguide-block {
    margin-top: 3em;
}

.styleguide-block-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
}

.styleguide-block-header > .title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 0.25em;
    padding-bottom: 0.5em;
    width: 100%;
}

.styleguide-comma-list > .link:not(:hover) {
    text-decoration: none;
}

.styleguide-shy {
    font-size: 0.75rem;
    opacity: 0.25;
}

.styleguide-sourcepath {
    margin-left: auto;
}

.styleguide-preview {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAF0lEQVR4AWP4DwVvoWCgBGAMmMQACQAAuK72AWHjK4wAAAAASUVORK5CYII=');
    background-size: 8px 8px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
    margin: 0;
    padding: 1rem;
}

:not(.styleguide-preview) > table {
    border-collapse: collapse;
}

:not(.styleguide-preview) > table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

:not(.styleguide-preview) > table thead tr {
    border-width: 2px;
}

:not(.styleguide-preview) > table thead th,
:not(.styleguide-preview) > table tbody td {
    padding: 0.5em 2em 0.5em 0.5em;
    text-align: left;
}
