/*
    First component

    This is my very first component.

    markup:
    <div class="first-component">
        <span class="title">Hi</span>
    </div>

    Styleguide 2.1.0
*/
.first-component {
    > .title {
        color: red;

        @include media(">=medium") {
            font-size: 1.5em;
        }

        // On print devices this title shall be hidden
        @include media("print") {
            display: none;
        }
    }
}
