/*
---
name: First component
tag:
  - components
  - group
category:
  - components
  - components/group
  - components/group/first component
---

This is my very first component. 🎉

```html
<div class="first-component">
    <span class="title">Hi</span>
</div>
```
*/
.first-component {
    > .title {
        color: red;

        @include media(">=medium") {
            font-size: 1.5em;
        }

        // On print devices this title shall be hidden
        @include media("print") {
            display: none;
        }
    }
}
