// -----------------------------------------------------------------------------
// Base styles.
// -----------------------------------------------------------------------------
:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: currentColor;
    display: inline-block;
    text-decoration-skip: ink;
}
