/*
---
name: Buttons
tag:
  - components
  - buttons
category:
  - components
  - components/buttons
sourcePath: /components/_buttons.scss
---

Sometimes a lot of components belong to the *same* group, in this case the
button group for example. In order to keep the overall structure clear and
simple, please put *similar* components – in terms of files and documentation –
into the *same* group.
*/
@import "buttons/*";
