/*
---
name: Debug
category: debug
hidePath: true
---

For visual and script debugging just run any url with `debug=1`, or type
`:debug` or set a localStorage item called `debug` with a value of `1`.
This will enable the debug mode and give you additional scripting output as
well as visual debugging output like the current breakpoint and the
vertical baseline grid.
*/
.debug-mode {
    $highlight-color: $brand-warning;
    $grid-color: $color-black;

    position: relative;

    &::after,
    &::before {
        z-index: $z-debug;
    }

    // Baseline grid
    &::after {
        background-color: transparent;
        background-image: linear-gradient(transparent calc(100% - 1px), rgba($grid-color, 0.1) 0%),
                          linear-gradient(transparent calc(50% - 1px), rgba($grid-color, 0.05) 50%, transparent calc(50% + 1px));
        background-size: 100% $grid-vertical-base;
        background-repeat: repeat, repeat;
        content: "";
        height: 100%;
        left: 0;
        pointer-events: none;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
    }

    // Breakpoints indicator
    &::before {
        background-color: $highlight-color;
        bottom: 0;
        color: #000;
        font-family: monospace;
        font-size: 0.75rem;
        line-height: $grid-vertical-base;
        padding: ($grid-vertical-base / 2) 1rem;
        position: fixed;
        right: 0;
        white-space: pre-wrap;

        @each $name, $width in $breakpoints {
            @include media(">=#{$width}") {
                content: "vertical base: #{$grid-vertical-base}  ·  "
                         "breakpoint: #{$name} (#{$width})";
            }
        }
    }
}
