/*!-----------------------------------------------------------------------------
   Master Stylesheet.

   Project:       {{ name }}
   Version:       {{ version }}
   Contributors:  {{ author }}
   URL:           {{ url }}
   License:       {{ license }}
   -------------------------------------------------------------------------- */

@import "meta";
@import "vendor";
@import "shared";
@import "components";
@import "exceptions";
