:root {
    background-color: #2a2433;
}

.hljs {
    padding: 1rem;
}

.styleguide-sidebar {
    color: #fefefe;
}

.styleguide-content {
    background-color: #fefefe;
}

.styleguide-nav-tags > .link {
    border-color: rgba(255, 255, 255, 0.125);
}

.styleguide-nav-tags > .link:hover {
    background-color: #fefefe;
    border-color: #fefefe;
    color: #2a2433;
}

.styleguide-tree-branch:not(.-active) {
    color: #959595;
}

.styleguide-tree-branch:hover > .label,
.styleguide-tree-branch:hover > .expand {
    color: #fefefe;
}
